@font-face {
  font-family: 'Leksa Sans';
  src: url('../fonts/LeksaSans-Bold.eot');
  src: url('../fonts/LeksaSans-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/LeksaSans-Bold.woff2') format('woff2'),
      url('../fonts/LeksaSans-Bold.woff') format('woff'),
      url('../fonts/LeksaSans-Bold.ttf') format('truetype'),
      url('../fonts/') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

