// специфические для страницы стили
.main {
  padding-top: 100px;
  padding-bottom: 85px;
  background: url(../img/bg.jpg) no-repeat top center / contain;
}
.wrapper {
  width: 100%;
} 
.tabs {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.br__none {
  display: none;
}
.tab {
  cursor: pointer;
  background: #212031;
  border-radius: 10px 10px 0px 0px;
  height: 54px;
  width: 188px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  color: rgba(151, 148, 198, 0.5);
  transition: $transition-default;
  position: relative;
  
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background: url(../img/active-tab.svg) no-repeat center / cover;
    transition: $transition-default;
  }
  &.active {
    color: #fff;
    &:after {
      width: 100%;
    }
  }
  &__wrap {
    padding: 24px 26px 30px;
    border-bottom: 1px solid rgba(151, 148, 198, 0.1);
  }
  &__name {
    font-family: 'Leksa Sans', sans-serif;
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 20px;
  }
  &__flex {
    display: flex;
    align-items: inherit;
    flex-wrap: wrap;
    margin-right: -20px;
  }
  &__item {
    position: relative;
    padding: 20px 20px 15px;
    border-radius: 15px;
    background: url(../img/item-bg.svg) no-repeat center / cover;
    width: 217px;
    height: 299px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    margin-right: 20px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
  }
  &__count {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    width: 96px;
    height: 78px;
    background: url(../img/coin-bg.svg) no-repeat top / contain;
    p {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: -17px;
      transform: rotate(-42.41deg);
      font-weight: bold;
      font-size: 13px;
      line-height: 160%;
      text-align: center;
      color: #FFFFFF;
      text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.45);
    }
  }
  &__image {
    width: 120px;
    height: 120px;
    margin-bottom: 9px;
    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
  &__info {
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 160%;
    text-align: center;
    color: #FFFFFF;
    span {
      font-weight: bold;
      font-size: 30px;
      display: block;
      margin-bottom: 5px;
    }
  }
  &__btn {
    background: url(../img/btn-bg.svg) no-repeat center / cover;
    width: 155px;
    height: 47px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto auto 0;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    transition: $transition-default;
    span {
      margin-left: 20px;
      display: flex;
      align-items: center;
      img {
        display: inline-block;
        margin-right: 4px;
        margin-bottom: -2px;
      }
    }
    &:hover {
      transform: scale(0.9);
    }
  }
}
.tab_content {
  background: #242333;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.5);
  border-radius: 0px 0px 10px 10px;
  overflow: hidden;
}
.tab_item { display: none; }
.tab_item:first-child { display: block; }



@media screen and (max-width: 1199px) {
  .tab {
    &__item {
      width: 212px;
    }
  }
}

@media screen and (max-width: 991px) {
  .tab {
    width: 133px;
    font-size: 14px;
    line-height: 20px;
    &__item {
      padding: 10px 10px 15px;
      margin-bottom: 10px;
      margin-right: 10px;
      height: 210px;
      width: 152px;
    }
    &__flex {
      margin-right: -10px;
    }
    &__info {
      font-size: 11px;
      span {
        font-size: 20px;
      }
    }
    &__image {
      width: 87px;
      height: 87px;
    }
    &__btn {
      width: 98px;
      height: 27px;
      font-size: 11px;
      line-height: 13px;
      border-radius: 146px;
      background: linear-gradient(90deg, #682FBD 0%, #CB4CBC 100%);
      span {
        margin-left: 7px;
        font-size: 11px;
        line-height: 13px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .tab {
    text-align: center;
    width: auto;
    background: transparent;
    padding: 0 10px;
    &__wrap {
      padding: 18px 17px 20px;
    }
    &:before {
      width: 100%;
      height: 100%;
      opacity: 0;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      background: linear-gradient(0deg, #F52CBF 0%, rgba(245, 44, 191, 0) 100%);
    }
    &.active {
      &:before {
        opacity: 0.1;
      }
    }
  }
  .tabs {
    background: #181723;
  }
}


@media screen and (max-width: 575px) {
  .br__none {
    display: block;
  }
  .tabs {
    width: 109%;
    margin-left: -15px;
  }
  .tab_content {
    border-radius: 10px;
    width: 280px;
    margin: 11px auto;
  }
  .tab {
    &__name {
      font-size: 20px;
    line-height: 26px;
    }
    &__image {
      width: 65px;
      height: 65px;
    }
    &__item {
      height: 171px;
      width: 125px;
      margin-right: 9px;
    }
    &__wrap {
      padding: 18px 11px 20px;
    }
    &__count {
      p {
        font-size: 11px;
      }
    }
  }
}

